/* Bootstrap custom styles */
body { background: #666666 url("img/background.png") no-repeat top left; background-size: auto;}
h1, h2 { font-family: "DIN Condensed",AvenirNextCondensed-DemiBold,"Univers Condensed",Univers,Arial,Helvetica,sans-serif; color: #525252; text-transform: uppercase; }
div.col > p a:link { font-family: "Gill Sans",Arial,Helvetica,sans-serif; font-size: 130%; color: #525252; font-weight: lighter; } 
div.col > p a:visited { color: #525252; }
div.col > p a:hover { color: #525252; }

h2 { display: none; }

#chatbot-urls {display: none; }

#skip-to-chatbot { 
  left: 50%;
  position: absolute;
  transform: translateY(-100%);
}

#skip-to-chatbot:focus {
  transform: translateY(0%);
}