/* Webchat custom styles */
#webchat .rw-launcher, #webchat .rw-header, #webchat .rw-close-button, #webchat .rw-client, #webchat .rw-avatar{
  background-color: #ffab00 !important;
}
#webchat .rw-title { font-family: "DIN Condensed", AvenirNextCondensed-DemiBold,"Univers Condensed",Univers,Arial,Helvetica,sans-serif; font-size: 150%; } 
#webchat .rw-conversation-container { box-shadow: 0 2px 10px 1px #606060; border-radius: 0px; }
#webchat .rw-conversation-container .rw-header { height: 70px; } 
#webchat .rw-avatar {
  width: 30px;
  height: 30px;
}
#webchat .rw-conversation-container .rw-response a:link {}
#webchat .rw-conversation-container .rw-response a:visited {}
#webchat .rw-conversation-container .rw-response a:hover {}
#webchat .rw-messages-container {
  text-align: center;
  width: 100%; /* Allow centering of livechat init message */
}

/* Handle indent for resized avatar */
#webchat .rw-widget-wrapper-css .rw-group-message.rw-from-response .rw-message:not(:first-child):not(:only-child) .rw-response {
    margin-left: 13px;
}

#webchat .context-msg {
  display: inline-block;
  width: 70%
}

#webchat .context-msg-wrapper {
  justify-content: center;
}

#webchat .rasa-exit-msg {
  background-color: #333333ad !important;
  border-radius: 2px;
  margin: 0;
}

#webchat .livechat-init-msg {
  background-color: #e00052 !important;
  border-radius: 8px;
  margin: 0;
}

/* Temp fix for new version of MrBot typing indication */
#webchat .rw-dot {
  margin-bottom: 20px;
}

/* Typing indication for OBI welcome message */
#webchat .rw-typing-centered {
  margin-top: 10px;
  margin-bottom: 10px;
}