# Feel free to use this for setting environment variables upon deploy

# Tracker db credentials
DB_NAME={{ dbname }}
DB_USERNAME={{ dbuser }}
DB_PASSWORD={{ dbpassword }}
DB_HOST={{ dbhost }}

# Eventbroker credentials
DB_NAME_EVENTBROKER={{ dbname_eventbroker }}
DB_USERNAME_EVENTBROKER={{ dbuser_eventbroker }}
DB_PASSWORD_EVENTBROKER={{ dbpassword_eventbroker }}
DB_HOST_EVENTBROKER={{ dbhost_eventbroker }}

# Rasa variables
RASA_VERSION={{ rasa_version }}
ENDPOINTS_FILENAME={{ endpoints_filename }}
OBI4WAN_APPID={{ obi4wan_appid }}
OBI4WAN_GUID={{ obi4wan_guid }}
OBI4WAN_DOMAINADDRESS={{ obi4wan_domainaddress }}

GEMCONTENT_SUGGESTIONS={{ gemcontent_suggestions }}
GEMCONTENT_URL={{ gemcontent_url }}

COUNT_API_HIT_KEY={{ count_api_hit_key }}