/* Bootstrap custom styles */
body { background: #666666 url("img/background.png") no-repeat top left; background-size: auto;}
h1, h2 { font-family: "DIN Condensed",AvenirNextCondensed-DemiBold,"Univers Condensed",Univers,Arial,Helvetica,sans-serif; color: #525252; text-transform: uppercase; }
div.col > p a:link { font-family: "Gill Sans",Arial,Helvetica,sans-serif; font-size: 130%; color: #525252; font-weight: lighter; } 
div.col > p a:visited { color: #525252; }
div.col > p a:hover { color: #525252; }

h2 { display: none; }
#remote, #local { display: none; }
body.local #local { display: block; } 
body.remote #remote { display: block; }

/* Webchat custom styles */
#webchat .launcher, #webchat .header, #webchat .close-button, #webchat .client {
  background-color: #ffab00;
}
#webchat .title { font-family: "DIN Condensed", AvenirNextCondensed-DemiBold,"Univers Condensed",Univers,Arial,Helvetica,sans-serif; font-size: 150%; } 
#webchat .conversation-container { box-shadow: 0 2px 10px 1px #606060; border-radius: 0px; }
#webchat .conversation-container .header { height: 70px; } 
#webchat .conversation-container .response a:link {}
#webchat .conversation-container .response a:visited {}
#webchat .conversation-container .response a:hover {}